body {
  font-family: "Orbitron", sans-serif;
}

.header {
  display: flex;
  gap: 12px;
  padding: 10px;
}

.react-logo {
  width: 70px;
  object-fit: contain;
}

.title-header {
  font-family: "Press Start 2P", system-ui;
}

li {
  margin-bottom: 9px;
}

footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #eee;  
}
header{
  text-align: center;
  
}
